.rspec
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/coverage/
/spec/tmp

config/initializers/secret_token.rb


.env

## Environment normalization:
/.bundle
/vendor/bundle

.byebug_history
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
yarn-error.log*
.yarn-integrity
